@import "@styles/base/bootstrap-extended/include"; // Bootstrap includes
@import "@styles/base/components/include"; // Components includes


.content-wrapper.login {
  max-width: 100% !important;
}

.tela-login {
  display: flex;
  height: 100vh;
  flex-direction: row;

  .side-img-container {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-container {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    .footer-auth-container {
      position: absolute;
      bottom: 0;
    }

    .login-box {
      border-radius: 5px;
      width: 40%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 40px 32px;
      max-width: 407px;
      min-width: 360px;

      .login-logo {
        display: inline-block;
        text-align: center;
        margin-bottom: 17px;
      }

      form {
        div {
          small {
            display: inline-block;
            transform: translate(0, -2px);
          }
        }

        button {
          margin-top: 45px;
        }
      }
    }
  }
}
