.mb-40 {
    margin-bottom: 40px;
}

.mt-9 {
    margin-top: 16px !important;
}

.vsl-subtitle-script {
    margin-top: 24px !important;
    margin-bottom: 16px !important;
}

.vsl-slider {
    background: rgba(115, 103, 240, 0.12);
    border-radius: 3px;
    height: 6px;
    margin-top: 24px;
}

.vsl-mark {
    color: white;
    background-color: aqua;
}

.vsl-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: 10px;
    z-index: 0 !important;
}

.vsl-track {
    height: 5px;
}

.vsl-track-0 {
    background-color: #7367F0 !important;
    border-radius: 3px;
}

.out-circle {
    width: 18px;
    height: 18px;
    background-color: #7367F0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.internal-circle {
    border-radius: 50px;
    width: 13.5px;
    height: 13.5px;
    background-color: #1C1C24;
}

.out-value {
    color: #B4B7BD;
    background-color: #1C1C24;
    border-radius: 5px;
    padding: 2px 5px;
}

.group-styles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #788ca0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.366667px;
}

.group-badge-styles {
    background-color: "#EBECF0";
    border-radius: "2em";
    color: "#172B4D";
    display: "inline-block";
    font-size: 12;
    font-weight: "normal";
    line-height: "1";
    min-width: 1;
    padding: "0.16666666666667em 0.5em";
    text-align: "center";
}